@import url(https://fonts.googleapis.com/css?family=Press+Start+2P|Righteous);
html {
  box-sizing: border-box;
  background-color: #46b8da;
  padding-top: 20px;
  padding-bottom: 20px;
}
body {
  font-family: 'Righteous', cursive;
  max-width: 30em;
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 10px 10px 50px grey;
}
h1 {
  margin-bottom: 0;
  margin-top: 10px;
}
#container {
  margin-top: 10px;
}
div {
ï¿¼  text-align: center;
}
.city {
  font-size: 2.5em;
}
.temp {
  font-size: 4.5em;
}
.icon {
  font-size: 7em;
}
button {
  color: #ccc;
  background-color: #fff;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}
footer {
  margin-top: 50px;
}
footer div {
  font-size: small;
}
